<IfModule mod_expires.c>
  ExpiresActive ON
  <FilesMatch "\.(gif|png|jpg|jpeg|ico|css|js|woff|eot|svg|ttf|woff2|otf)$">
    ExpiresDefault "access plus 1 month"
  </FilesMatch>
  Options -Indexes +FollowSymLinks
  RewriteEngine On
  RewriteCond %{HTTP_HOST} !^www\.incoqnito\.io$ [NC]
  RewriteRule ^(.*)$ https://www.incoqnito.io/$1 [L,R=301]
  </IfModule>
