<div class="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="col-md-6">
        <h3 class="footer-contact-headline">Incoqnito GmbH</h3>
        <div class="footer-contact">
          <p>Tiergartenstr. 105</p>
          <p>30559 Hannover</p>
          <br>
          <p><a target="_blank" href="https://incoqnito.io">www.incoqnito.io</a></p>
          <p><a target="_blank" href="mailto:info@incoqnito.io">info@incoqnito.io</a></p>
          <h3 class="phone">(+49) 177 9651165</h3>
        </div>
      </div>
      <div class="col-md-offset-3 col-md-3">
        <h3 class="footer-headline">Über uns</h3>
        <ul class="footer-links">
          <li><a href="/">Startseite</a></li>
          <li><a href="/impressum">Impressum</a></li>
          <li><a href="/datenschutz">Datenschutz</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
