<div class="social-media">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <p class="follow">Follow us</p>
        <ul class="social-media-icons">
          <li class="social-media-icon xing">
            <img src="/static/xing.svg">
          </li>
          <li class="social-media-icon linkedin">
            <img src="/static/linkedin.svg">
          </li>
          <li class="social-media-icon facebook">
            <img src="/static/facebook.svg">
          </li>
          <li class="social-media-icon instagram">
            <img src="/static/instagram.svg">
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <h3 class="footer-headline">Sitemap</h3>
        <ul class="footer-links">
          <li><a href="#">Startseite</a></li>
          <li><a href="#">Unternehmen</a></li>
          <li><a href="#">Kompetenzen</a></li>
          <li><a href="#">Referenzen</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h3 class="footer-headline">Sitemap</h3>
        <ul class="footer-links">
          <li><a href="#">Startseite</a></li>
          <li><a href="#">Unternehmen</a></li>
          <li><a href="#">Kompetenzen</a></li>
          <li><a href="#">Referenzen</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h3 class="footer-headline">Sitemap</h3>
        <ul class="footer-links">
          <li><a href="#">Startseite</a></li>
          <li><a href="#">Unternehmen</a></li>
          <li><a href="#">Kompetenzen</a></li>
          <li><a href="#">Referenzen</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <h3 class="footer-headline">Privacy</h3>
        <ul class="footer-links">
          <li><a href="#">Impressum</a></li>
          <li><a href="#">Datenschutz</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
