<div class="container">
  <div class="navigation">
    <div class="navigation-logo">
      <img src="/static/incoqnito_logo_white.svg" />
    </div>
    <ul class="navigation-list">
      <li class="navigation-entry">
        <a href="#">Startseite</a>
      </li>
      <li class="navigation-entry">
        <a href="#">Unternehmen</a>
      </li>
      <li class="navigation-entry">
        <a href="#">Kompetenzen</a>
      </li>
      <li class="navigation-entry">
        <a href="#">Referenzen</a>
      </li>
      <li class="navigation-entry">
        <a href="#">Karriere</a>
      </li>
      <li class="navigation-entry">
        <a href="#">Kontakt</a>
      </li>
    </ul>
  </div>
</div>
