<div class="navigation">
  <div class="container">
    <div class="navigation-logo">
      <a href="/">
        <img src="/static/incoqnito_logo_white.svg" />
      </a>
    </div>
    <ul class="navigation-list hidden-xs">
      <li class="navigation-entry">
        <a href="#home">Startseite</a>
      </li>
      <li class="navigation-entry">
        <a href="#company">Unternehmen</a>
      </li>
      <li class="navigation-entry">
        <a href="#services">Leistungen</a>
      </li>
      <li class="navigation-entry">
        <a href="#career">Karriere</a>
      </li>
      <li class="navigation-entry">
        <a href="#contact">Kontakt</a>
      </li>
    </ul>
    <a id="showMenu" class="mobile-navigation visible-xs">
      <img src="/static/menu.svg">
    </a>
  </div>
</div>
