<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
      <meta charset="utf-8">
      <meta content="IE=edge" http-equiv="X-UA-Compatible">
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development." name="description">
      <meta content="Mark Otto, Jacob Thornton, and Bootstrap contributors" name="author">
      <title>{{ page.title }}</title>
    </head>
    <body>
      <div class="site">
        <div class="site-container">
          {% include navigation.html %}
          {{ content }}
          <a id="totop" href="#home">
            <img src="/static/arrow-top.svg" />
          </a>
          {% include footer.html %}
        </div>
        <div class="site-navigation">
            <a href="#home" onclick="javascript:closeMenu()">Startseite</a>
            <a href="#company" onclick="javascript:closeMenu()">Unternehmen</a>
            <a href="#services" onclick="javascript:closeMenu()">Kompetenzen</a>
            <a href="#career" onclick="javascript:closeMenu()">Karriere</a>
            <a href="#contact" onclick="javascript:closeMenu()">Kontakt</a>
          </div>
    </body>
    <script src="/index.js"></script>
</html>
