<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Raleway:300,400" rel="stylesheet">
      <meta charset="utf-8">
      <meta content="IE=edge" http-equiv="X-UA-Compatible">
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development." name="description">
      <meta content="Mark Otto, Jacob Thornton, and Bootstrap contributors" name="author">
      <title>{{ page.title }}</title>
    </head>
    <body>
      <div class="site">
        <div class="site-container">
          <div class="navigation">
              <div class="container">
                <div class="navigation-logo">
                  <a href="/">
                    <img src="/static/incoqnito_logo_white.svg" />
                  </a>
                </div>
                <ul class="navigation-list hidden-xs">
                  <li class="navigation-entry">
                    <a href="/">Startseite</a>
                  </li>
                  <li class="navigation-entry">
                    <a href="/unternehmen">Unternehmen</a>
                  </li>
                  <li class="navigation-entry">
                    <a href="/kompetenzen">Kompetenzen</a>
                  </li>
                  <li class="navigation-entry">
                    <a href="/referenzen">Referenzen</a>
                  </li>
                  <li class="navigation-entry">
                    <a href="/karriere">Karriere</a>
                  </li>
                  <li class="navigation-entry">
                    <a href="/kontakt">Kontakt</a>
                  </li>
                </ul>
                <a id="showMenu" class="mobile-navigation visible-xs">
                  <img src="/static/menu.svg">
                </a>
              </div>
            </div>
          {{ content }}
          <a id="totop" href="#home">
            <img src="/static/arrow-top.svg" />
          </a>
          {% include footer.html %}
        </div>
        <div class="site-navigation">
            <a href="/">Startseite</a>
            <a href="/unternehmen">Unternehmen</a>
            <a href="/kompetenzen">Kompetenzen</a>
            <a href="/referenzen">Referenzen</a>
            <a href="/karriere">Karriere</a>
            <a href="/kontakt">Kontakt</a>
          </div>
    </body>
    <script src="/index.js"></script>
</html>
