<html>
    <head>
      <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
      <meta charset="utf-8">
      <meta content="IE=edge" http-equiv="X-UA-Compatible">
      <meta content="width=device-width,initial-scale=1" name="viewport">
      <meta content="Bootstrap, a sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development." name="description">
      <meta content="Mark Otto, Jacob Thornton, and Bootstrap contributors" name="author">
      <title>{{ page.title }}</title>
    </head>
    <body>
      {{ content }}
    </body>
    <script src="/index.js"></script>
</html>
