h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5
  padding-top: 16px;
  padding-bottom: 0px;
  margin: 0;
}

h2 {
  font-size: 24px;
  padding-top: 16px;
  padding-bottom: 8px;
  font-weight: 400;
  line-height: 1.5
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.5
  padding: 16px 0;
  margin: 0;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
}


strong {
  font-weight: 400;
}
