.footer {
  background-color: #22202B;
  padding-top: 60px;
  padding-bottom: 20px;
  background-image: url(/static/background.svg);
  background-size: cover;
  background-position: center bottom;
  color: #ccc;
}

.footer-headline {
  padding-top: 48px;
  font-weight: 400;
  font-size: 14px;
  color:white;
  margin: 0;
}

.footer-contact-headline {
  padding-top: 40px;
  font-weight: 400;
  font-size: 20px;
  color: white;
  margin: 0;
  text-shadow: 1px 2px 2px rgba(0,0,0,0.8)
}

.footer-contact {
  margin: 0;
  padding: 16px 0;
  color: #ccc;
  p {
    margin: 0;
    line-height: 1.5;
    font-size: 12px;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.8)
  }
  a {
    text-decoration: underline
    color: #ccc;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.8)

  }
  .phone {
    font-weight: 300;
    font-size: 32px;
    color: white;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.8)
  }
}


.footer-links {
  padding: 0;
  margin: 0;
  padding-top: 16px;
  list-style: none;
  li a {
    display: block;
    padding: 6px 0;
    font-size: 10px;
    color: #ccc;
    text-transform: uppercase
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.8)
    &:hover {
      text-decoration: underline
    }
  }
}

.bottom-footer {
  font-size: 12px;  
}

.copyright {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 12px;  
}

.social-media {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0 40px;
  justify-content: flex-end;
  li {
    flex: 0 1 auto;
    padding: 8px 16px;
    img {
      height: 32px;
    }
  }
}
