.footer {
  background-color: #22202B;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url(/static/background.svg);
  background-size: cover;
  background-position: center bottom;
}

.footer-headline {
  padding-top: 48px;
  font-weight: 400;
  font-size: 14px;
  color: #ccc;
  margin: 0;
}

.footer-contact-headline {
  padding-top: 40px;
  font-weight: 400;
  font-size: 20px;
  color: #ccc;
  margin: 0;
}


.footer-contact {
  margin: 0;
  padding: 16px 0;
  color: #ccc;
  p {
    margin: 0;
    line-height: 1.5;
    font-size: 12px;
  }
  a {
    text-decoration: underline
    color: #ccc;
  }
  .phone {
    font-weight: 300;
    font-size: 32px;
    color: white;
  }
}


.footer-links {
  padding: 0;
  margin: 0;
  padding-top: 16px;
  list-style: none;
  li a {
    display: block;
    padding: 6px 0;
    font-size: 10px;
    color: #ccc;
    text-transform: uppercase
    letter-spacing: 0.1em
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.8)
    &:hover {
      text-decoration: underline
    }
  }
}


.social-media {
  background: #383745;
  min-height: 150px;
  padding: 40px 0;
}

.social-media-icons {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.social-media-icons li {
  height: 60px;
  border-radius: 2px;
  padding: 12px;
  width: 60px;
  font-size: 44px;
  text-align: center;
  font-weight: 100;
  background: grey;
  color: white;
  float: left;
  margin-right: 5px;
  img {
    vertical-align: top;
  }
}
.social-media-icons li:last-child {
  margin-right: 0;
}

.social-media-icons .social-media-icon {
  filter: grayscale(100%);
  transition: filter 0.2s ease-in-out  
}

.social-media-icons .social-media-icon:hover {
  cursor: pointer;
  filter: grayscale(0%);

}
.social-media-icons .social-media-icon.facebook {
  background-color: #3b5998;
  opacity: 1;
}
.social-media-icons .social-media-icon.xing {
  background-color: #026466;
  opacity: 1;
}
.social-media-icons .social-media-icon.linkedin {
  background-color: #0077b5;
  opacity: 1;
}
.social-media-icons .social-media-icon.instagram {
  background-color: #405de6;
  opacity: 1;
}

.follow {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 2.5em;
  color: #eee;
  font-weight: 100;
  padding-bottom: 8px;
}

.follow.facebook:after {
  content: ' on Facebook';
}
.follow.xing:after {
  content: ' on Xing';
}
.follow.linkedin:after {
  content: ' on LinkedIn';
}
.follow.instagram:after {
  content: ' on Instagram';
}

