.section {
  padding: 80px 0;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-section {
  background: white;  
}

.grey-section {
  background: #f3f3f3; 
}

.dark-section {
  background: #22202b;
  .section-title {
    h2 {
      color: white;
    }
    .separator {
      background: white
    }
    span.colored {
      color: #da1c5c;
    }
  }
  .section-subtitle h4 {
    color white;
  } 

  .section-content {
    color: white;
  }
}

.color-section
  background: #6569B0;
  background: radial-gradient(circle at 35% 25%,  #ea598a, #865b99)

  h2, p
    color: white;

  a {
    color: inherit
  }

  h3 
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 6px;


  .section-title {
    h2 {
      color: white;
    }
    .separator {
      background: white
    }
  }
  .section-subtitle h4 {
    color white;
  } 

  .section-content {
    color: white;
    p {
      font-size: 14px;
    }
  }

.section-content {
  padding: 40px 16px;

  &.--right-aligned {
    text-align: right
  }
}

.section-title
  h2
    font-weight: 300;
    text-align: center
    color: #58595B;
    font-size: 32px;
    padding: 16px 0;
    text-transform: normal;

  .separator
    width: 100px;
    height: 1px;
    background: #58595B;
    margin-top: 16px;
    margin: auto;


.section-subtitle
  h4
    font-weight: 300
    font-size: 20px;
    padding: 16px;
    text-align: center;

.testamonial-section {
  background: url('/static/background.jpg')
  background-size: cover;
  background-position: center center
  padding: 0;
  .section-title {
    h2 {
      color: white;
    }
    .separator {
      background: white
    }
  }
  .section-subtitle h4 {
    color white;
  }
  .section-content {
    color: white;
  }
}

.testamonial-section-overlay
  background: rgba(34, 32, 43, 0.8);
  padding: 80px 0px;
  width: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h3 
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 6px;


#company
  h3 
    font-size: 18px;
    text-transform: uppercase;
    padding-bottom: 6px;
