.section {
  padding: 60px 0;
  outline: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.white-section {
  background: white;  
}

.grey-section {
  background: #f1f1f1; 
}

.color-section
  background: #6569B0;
  background: -webkit-linear-gradient(to right, #6569B0, #865B99);
  background: linear-gradient(to right, #6569B0, #865B99);
  &.color-section--color-3
    background: #6569B0;
    background: -webkit-linear-gradient(to right, #6569B0, #865B99);
    background: linear-gradient(to right, #6569B0, #865B99);
  &.color-section--color-4
    background: #da1c5c;
    background: -webkit-linear-gradient(to right, #e7427a, #da1c5c, #e7427a);
    background: linear-gradient(to right, #e7427a, #da1c5c, #e7427a);
  h2, p
    color: white;
  
