.navigation
  padding-top: 12px;
  position: absolute;
  z-index: 100;
  width: 100%;
  overflow: hidden

.navigation .container {
  display: flex;
  flex-direction: row;
}

.navigation-logo
  flex: 1 0 auto
  padding-left: 8px;
  img
    padding-top: 8px;
    width: 120px;

.navigation-list
  padding: 0;
  margin: 0;
  flex: 0 1 auto
  list-style: none;
  display: flex;

.navigation-entry
  flex: 0 1 auto;
  color: white;
  a
    display: block;
    color white;
    padding: 16px;
    text-decoration: none;
    text-shadow: 1px 2px 2px rgba(0,0,0, 0.8);
    &:hover
      text-decoration: underline;

.mobile-navigation {
  flex: 0 1 50px;
  transition: max-width 50%
  height: 50px;
  padding: 8px;
  cursor: pointer;
}

.sub-navigation
  position: absolute;
  overflow: hidden
  width: 100%;
  background: rgba(0,0,0, 0.4)
  bottom: 0;
  transition: background 0.3s ease-in

.sub-navigation-wrapper {
  display: flex;
  align-items: center
}

.sub-navigation.affix
  position: fixed
  top: 0
  height: 47px;
  z-index: 1000;
  background: rgba(0,0,0, 0.8)


.sub-navigation-list
  position: relative;
  padding: 0;
  text-align: center;
  margin: auto;
  list-style: none;
  flex: 0 1 auto;
  display: flex;

.sub-navigation-entry
  flex: 0 1 auto;
  color: white;
  a
    display: block;
    color white;
    padding: 12px 24px;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    &:hover {
      border-bottom: 3px solid white;
    }

@media (max-width: 767px) {
  .sub-navigation-list {
    width: 100%;
  }

  .sub-navigation-entry {
    flex 1 0 auto
    a {
      padding: 15px 0;
      font-size: 10px;
    }
  }
}

.site-navigation {
  background: #222  
  padding-top: 80px;

  a {
    display: block;
    padding: 16px 24px;
    color: white;
    font-weight: 300;
  }
}

.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-image: url(/static/background.svg);
  background-size: cover;
  background-position: left top;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  //will-change: transform;
  background-color: #FFF; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .navigation-logo {
  display: none
  flex: 0 1 100%;
}

.slideout-open .slideout-menu {
  display: block;
}
