body {
  margin: 0px;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
}

.banner-wrapper {
  position: relative;
  &.banner-wrapper--color-all {
    background: linear-gradient(45deg, #3c9cd7, 10%, #6569B0, 50%, #865b99, 90%, #da1c5c)
  }
  &.banner-wrapper--color-1 {
    background: #3c9cd7;
    background: radial-gradient(closest-corner at center, #51a7db, #3c9cd7, #2a90cf);
  }
  &.banner-wrapper--color-2 {
    background: #865b99;
    background: radial-gradient(closest-corner at center,  #9368a5, #865b99, #785189);
  }
  &.banner-wrapper--color-3 {
    background: #6569B0;
    background: radial-gradient(closest-corner at center, #767ab9, #6569B0, #5459a8);
  }
  &.banner-wrapper--color-4 {
    background: #da1c5c;
    background: radial-gradient(closest-corner at center, #e7427a, #da1c5c, #e7427a);
  }
  &.banner-wrapper--color-5 {
    background: #58595b;
    background: radial-gradient(closest-corner at center, #656668, #58595b, #4b4c4e);
  }
}

.typed {
  font-size: 32px;
  line-height: 1;
  height: 32px;
  text-align: center;
  margin-bottom: 24px;
  color: white;
  font-weight: 300;
}

.banner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/static/background.svg')
  background-size: cover;
  background-position: center center
}

.banner.banner--half {
  height: 50vh;
}


#totop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background: rgba(0,0,0, 0.2)
  display: block;
  width: 50px;
  height: 50px;
  padding: 8px;
  cursor: pointer;
  transition: background 0.3s ease-in
  &:hover {
    background: rgba(0,0,0, 0.4)
  }
}

.banner-item {
  flex: 0 1 auto;
  h2 {
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase
    padding: 24px 0;
    color: white;
  }
  p {
    color: white;
    font-size: 18px;
    line-height: 1.5;
  }
  .button {
    display: inline-block;
    text-align: center;
    margin-top: 24px
    padding: 12px 36px
    min-width: 200px;
    font-size: 10px;
    text-transform: uppercase
    transition: all 0.3s ease-in
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
    border: 1px solid rgba(255,255,255,0.05);
    color: #FFF;
    cursor: pointer;
    outline: none;
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    &:hover {
      text-decoration: none;
      background-color: rgba(255,255,255,0.2);
      border: 1px solid rgba(255,255,255,0.2);
    }
  }
}

@import './styl/base'
@import './styl/grid'
@import './styl/footer'
@import './styl/navigation'
@import './styl/icon-box'
@import './styl/testamonial'
@import './styl/contact-form'
@import './styl/opensource'
